.custom-contain{
height: 350px;
border: 2px solid green;
    margin-top: 50px;

}
.header-custom{
    height: 50px;
    border-bottom: 2px solid green;
    width: 100%;
   
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    
    
}
.set-image{
 max-height:100%;
    height:auto;
    width:100%;
    max-width:100%;
    margin:auto
}
.contents{
    width: 100%;
    height: 200px;
    border-bottom: 2px solid green;
    
    
}
.summary{
  width: 100%;
    height: 50px; 
    margin-top: 10px;
}
.left-sum{
float: left;
}
.right-sum{
float: right;
}

.phone-text{
    color: green;
    border: green 2px solid;
    width: 50%;
    background-color: transparent;
}
.footer{
    font-size:xx-small;
    
}